//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	@include adaptiveValue("font-size", 30, 15);
	justify-content: center;
	color: #F5F5F5;
	font-weight: 700;
	background: #728BAD;
	border-radius: rem(42);
	display: inline-flex;
	padding: rem(11) rem(70);
	transition: color 0.3s ease 0s;
	transition-property: background-color, color;
	@media (any-hover: hover) {
		&:hover {
			background-color: #D5DCEE;
			color: #8E3921;
		}
	}
	&._fw {
		width: 100%;
	}
}
