//<FORM>
// Снипет (HTML):
.form { 
	position: relative;
	display: flex;
	flex-direction: column;
	gap: rem(23);
	max-width: rem(600);
	&__row {
	}
	&__column {

	}
	&__line {
	}
	&__input {
		font-size: rem(30);
		font-weight: 500;
		line-height: 139.4%;
		transition: all 0.3s ease 0s;
		border: 4px solid #728BAD;
		border-radius: 42px;
		height: rem(77);
		padding: 0 rem(20);
		background-color: transparent;

		&_big{
			height: rem(257);
			justify-content: flex-start;
			padding: rem(8) rem(20);
		}
		&:focus{
			background: rgba(213, 220, 238, 0.9);
			border: 4px solid #6C200B;
		}

	}
	&__button {
		max-width: rem(216);
	}
	&__error {
	}
}
//</FORM>

// <BUTTONS>
// Снипет (HTML): btn
@import "button";

// <INPUTS>
// Снипет (HTML): inp
// @import "input";

// <CHECK>
// Снипет (HTML): chk
// @import "checkbox";

// <RADIO>
// Снипет (HTML): opt
// @import "radio";

// <SELECT>
// Снипет (HTML): sel
// @import "select";

// <RATING>
// Снипет (HTML): rating
// @import "rating";

// <QUANTITY>
// Снипет (HTML): qa
// @import "quantity";

// <RANGE>
// Снипет (HTML):
// @import "range";

// <CALENDAR>
// Снипет (HTML):
// @import "datepicker";
