@font-face {
	font-family: Dmitry Rastvortsev ;
	font-display: swap;
	src: url("../fonts/Dmitry Rastvortsev - KyivType Sans Medium-.woff2") format("woff2"), url("../fonts/Dmitry Rastvortsev - KyivType Sans Medium-.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
