// Заголовки, общие БЄМ блоки и проче...
.page {

	&__main {
		@include adaptiveValue("padding-bottom", 205, 25);
	}

	&__type {
		@include adaptiveValue("padding-top", 205, 25);
		@include adaptiveValue("padding-bottom", 125, 25);
	}

	&__work {
		@include adaptiveValue("padding-top", 125, 25);
		@include adaptiveValue("padding-bottom", 139, 25);
	}

	&__advantages {
		@include adaptiveValue("padding-top", 139, 25);
		@include adaptiveValue("padding-bottom", 146, 25);
	}

	&__about {
		@include adaptiveValue("padding-top", 146, 25);
		@include adaptiveValue("padding-bottom", 96, 25);
	}
}

.title {
	font-family: Dmitry Rastvortsev ;
	@include adaptiveValue("font-size", 90, 50);
	line-height: 115.4%;
	text-transform: uppercase;
	// font-weight: 500;
	color: #F5F5F5;

	&_40{
		@include adaptiveValue("font-size", 90, 40);
	}
}

.text {
	@include adaptiveValue("font-size", 30, 15);
	
	& span {
		font-weight: 700;
	}
}