// Заголовки, общие БЄМ блоки и проче...
.page {

	&__main {
	}
}

.title {
	font-family: Dmitry Rastvortsev ;
	font-size: rem(90);
	line-height: 115.4%;
	text-transform: uppercase;
	// font-weight: 500;
	color: #F5F5F5;
}