//====================================================================================================

.main {

  &_container {
    position: relative;
  }

  &__container {
    @include adaptiveValue("padding-top", 218, 130);
    padding: rem(0) rem(0) rem(0) rem(15);
  }

  &__body {
    min-height: rem(714);
    background: #1E0C06;
    border-radius: 43px 0px 0px 43px;
    filter: drop-shadow(0px 4px 52px rgba(245, 245, 245, 0.17));
    @include adaptiveValue("margin-left", 93, 0, 2, 1440, 1320);
    @include adaptiveValue("margin-right", -105, 0, 2, 1440, 1280);
    display: flex;

    @media (max-width:$mobile) {
      flex-direction: column;
    }
  }

  &__content {
    flex-direction: column;
    position: relative;
    flex: 0 1 50%;
    padding-right: rem(15);
    @include adaptiveValue("padding-top", 62, 20, 0, 1250, 767.9);
    @include adaptiveValue("padding-left", 75, 15, 0, 1250, 767.9);
    @include adaptiveValue("padding-right", 40, 40, 1, 1250, 767.9);

    &::after {
      content: '';
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 71%;
      left: 0;
      bottom: 22%;
      border-right: 1px solid #F5F5F5;

      @media (max-width:$mobile) {
        display: none;
      }
    }

    @media (max-width:$mobile) {
      display: flex;
    }
  }

  &__title {

    max-width: rem(545);

    &:not(:last-child) {
      margin-bottom: rem(22);
    }
  }

  &__text {
    line-height: math.div(39, 30);
    color: #FFDBBB;
    max-width: rem(333);

    &:not(:last-child) {
      margin-bottom: rem(20);
      @include adaptiveValue("margin-bottom", 58, 20, 2, 767.9);
    }
  }

  &__button {
    @media (max-width:$mobile) {
      @include adaptiveValue("max-width", 200, 200, 2, 767, 479.98);

    }

    @media (max-width:$mobileSmall) {
      width: 100%;
    }
  }

  &__images {
    margin: rem(43) rem(30) rem(57) rem(45);
    @include adaptiveValue("margin-right", 115, 30, 2, 1280, 991);
    position: relative;
    flex: 1 1 41%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.2fr;
    align-items: center;
    justify-content: center;

    @media (max-width:$pc) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      row-gap: rem(20);
      @include adaptiveValue("margin-right", 30, 10, 2, 850, 767.9);
      @include adaptiveValue("margin-left", 45, 20, 2, 850, 767.9);
    }

    @media (max-width:$mobile) {
      margin: rem(30) 0;
    }
  }

  @mixin cgb {
    @media (max-width:$mobile) {
      justify-self: center;
      align-self: center;
    }
  }

  &__image {
    @media (max-width:$mobile) {
      justify-self: center;
      align-self: center;
    }


    & img {
      max-width: 100%;
      border-radius: rem(42);
    }

    &_1 {
      grid-column: span 2;
      justify-self: right;
      align-self: start;
    }

    &_2 {
      justify-self: left;
      align-self: start;
      z-index: 5;
      @include cgb;
    }

    &_3 {
      justify-self: right;
      align-self: end;
      @include cgb;
    }

    @media (max-width:$pc) {
      &_1 {
        grid-column: span 1;
        justify-self: right;
        align-self: start;
        @include cgb;
      }
    }
  }

  &__decor {
    position: absolute;
    top: 0;
    left: 0;

    width: percent(908, 1440);

    background-color: rgba(34, 32, 33, 0.49);
    border-radius: rem(11) rem(55) rem(55) rem(11);
    overflow: hidden;
    z-index: -1;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(34, 32, 33, 0.49);
      border-radius: rem(11) rem(55) rem(55) rem(11);
    }

    img {
      max-width: 100%;
    }
  }
}

//========================================================================================================================================================


.type {

  &__container {}

  &__title {
    margin: 0 auto;
    max-width: rem(950);
    @include adaptiveValue("max-width", 950, 500);
    @include adaptiveValue("margin-bottom", 125, 10);
  }

	&__scrollbar {
		.scrollbar {
			height: rem(100);
		}
		.simplebar-scrollbar::before {

			background-color: #1E0C06;
		}
	}

  &__items {
    display: flex;
    gap: rem(60);
    justify-content: space-between;
    padding-bottom: rem(30);
  }

  &__item {
    min-width: rem(272);
    position: relative;
  }
}

.item-type {

  &__image {
    display: flex;
    position: relative;
    z-index: 5;
    margin-top: rem(15);
    margin-right: rem(15);
    transition: all 0.3s ease 0s;

    &:hover {
      transform: scale(1.1);
    }

    &:not(:last-child) {
      margin-bottom: rem(39);
    }

    img {
      transition: all 0.3s ease 0s;
      margin: 0 auto;
      max-width: 100%;
      border-radius: rem(42);

    }
  }

  &__title {
    font-weight: 700;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: rem(44);
    }
  }

  &__characteristics {
    display: flex;
    flex-direction: column;
    gap: rem(24);
    max-width: rem(280);
  }

  &__characteristic {
    font-weight: 500;
    position: relative;
    margin-left: rem(35);

    &::before {
      content: '';
      position: absolute;
      z-index: 5;
      width: rem(25);
      height: rem(25);
      top: rem(5);
      left: rem(-33);
      background: url('@img/type/cross.svg') 0 0 no-repeat;
    }

    &_check {
      &::before {
        background: url('@img/type/check-mark.svg') 0 0 no-repeat;
        top: rem(2);
        left: rem(-35);
      }
    }
  }

  &__arow {
    position: absolute;
    background: url('@img/type/right-arrow.svg') 0 0 no-repeat;
    color: rgb(255, 255, 255);
    width: rem(25);
    height: rem(25);
    bottom: 0;
    right: 0;
  }
}

//========================================================================================================================================================

.work {

  &__container {
    padding: rem(0) rem(10);
    max-width: rem(1280);
  }

  &__title {
    margin: 0 auto;
    max-width: rem(950);
    @include adaptiveValue("max-width", 950, 500);
    @include adaptiveValue("margin-bottom", 125, 30);
  }

  &__swiper {
    @include adaptiveValue("margin-bottom", 26, 10);
    margin-bottom: rem(26);
  }
}

.swiper-work {

  &__wrapper {}

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      @include adaptiveValue("margin-left", 70, 15, 0, 1265, 320);
      @include adaptiveValue("margin-right", 70, 15, 0, 1265, 320);
    }

    img {
      @include adaptiveValue("border-radius", 42, 14);
      max-width: 100%;
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    @include adaptiveValue("width", 54, 12);
    @include adaptiveValue("hight", 54, 12);
    margin-top: calc(0px - var(--swiper-navigation-size) / 2);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));

    &_1 {
      left: rem(0);
      right: auto;
    }

    &_2 {
      right: 10px;
      left: auto;
    }

    & img {
      @include adaptiveValue("width", 54, 12);
      @include adaptiveValue("hight", 54, 12);
    }
  }

  &__pagination {}
}

.swiper-pagination-bullet {
  @include adaptiveValue("width", 26, 17);
  @include adaptiveValue("height", 26, 17);
}

.swiper-work {

  &__button {

    &_1 {}

    &_2 {}
  }
}

.swiper-button-prev {
  left: rem(30);
  right: auto;

  &::after {
    display: none;
  }
}

.swiper-button-next {
  &::after {
    display: none;
  }
}



//========================================================================================================================================================

.advantages {

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 0 auto;
    max-width: rem(950);
    @include adaptiveValue("max-width", 950, 500);
    @include adaptiveValue("margin-bottom", 121, 46);
  }

  &__content {
    display: flex;
    @include adaptiveValue("margin-bottom", 121, 46);

    @media (max-width:$mobile) {
      flex-direction: column;
    }
  }

  &__image {
    align-self: center;
    flex: 0 0 percent(609, 1250);

    img {
      border-radius: rem(42);
      max-width: 100%;
    }

    @media (max-width:$mobile) {
      order: 1;
    }
  }

  &__item {
    @include adaptiveValue("margin-left", 122, 30, 2, 1250, 767);
  }

  &__text {
    line-height: 139.4%;
    max-width: rem(387);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 46, 11);
    }

    &:last-child {
      max-width: rem(453);
    }

    @media (max-width:$mobile) {
      max-width: none;
      margin-bottom: rem(46);
    }
  }

  &__button {
    align-self: center;

    @media (max-width:$mobileSmall) {
      width: 100%;
      padding: rem(11) rem(0);
    }
  }
}

//========================================================================================================================================================

.about {

  &__container {
    padding: rem(0) rem(10) rem(0) rem(0);
  }

  &__body {
    height: rem(775);

    // @include adaptiveValue("height", 775, 1500, 0, );
    @media (max-width:$mobile) {
      height: rem(674);
    }

    background: #1E0C06;
    border-radius: 0px rem(43) rem(43) 0px;
    filter: drop-shadow(0px 4px 52px rgba(245, 245, 245, 0.17));
    @include adaptiveValue("margin-left", -85, 0, 2, 1440, 1260);
    display: flex;
    // gap: rem(62);

    @media (max-width:$mobile) {
      flex-direction: column;
    }
  }

  &__content {
    margin-top: rem(44);
    padding-right: rem(62);

    @include adaptiveValue("padding-left", 151, 20, 0, 1440, 767.9);
    flex: 0 0 percent(831, 1335);

    @media (max-width:$mobile) {
      flex: 0 0 percent(251, 674);
      padding-right: 0;
    }
  }

  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 67, 38);
    }
  }

  &__text {
    line-height: 139.4%;

    @media (max-width:$mobile) {
      padding-right: rem(48);
    }
  }

  &__images {
    position: relative;
    flex: 0 0 percent(524, 1335);

    @media (max-width:$mobile) {
      // flex: 0 0 percent(775,982);
      flex: 1 1 auto;
    }

  }

  &__image-ibg {
    position: absolute;
    max-width: 100%;
    border-radius: rem(42);



    &_1 {
      top: percent(167, 775);
      left: percent(0, 524);
      right: percent(144, 524);
      bottom: percent(261, 775);
      z-index: 5;

      @media (max-width:$mobile) {
        top: rem(65);
        left: rem(32);
        @include adaptiveValue("bottom", 70, 120, 0, 767, 320);
        @include adaptiveValue("right", 400, 100, 0, 767, 320);
      }
    }

    &_2 {
      top: percent(61, 775);
      left: percent(289, 524);
      @include adaptiveValue("left", 219, 90, 2, 1350, 767);
      right: percent(70, 524);
      bottom: percent(509, 775);

      @media (max-width:$mobile) {
        top: rem(47);
        left: rem(135);
        right: rem(0);
        @include adaptiveValue("bottom", 180, 200, 0, 767, 320);
      }
    }

    &_3 {
      top: percent(539, 775);
      left: percent(219, 524);
      @include adaptiveValue("left", 187, 70, 2, 1350, 767);
      right: percent(102, 524);
      bottom: percent(31, 775);

      @media (max-width:$mobile) {
        bottom: rem(29);
        right: rem(0);
        left: rem(57);
        @include adaptiveValue("left", 400, 57, 0, 767, 320);
        @include adaptiveValue("top", 200, 220, 0, 767, 320);
      }
    }

    & img {
			border-radius: rem(42);
      object-fit: none;

      @media (max-width:$mobile) {
        object-fit: contain;
      }
    }
  }
}

//========================================================================================================================================================


.questions {

  &__container {
    position: relative;

    @media (max-width:$mobile) {}
  }

  &__title {
    text-align: right;
    @include adaptiveValue("margin-bottom", 42, 11);

    @media (max-width:$mobile) {
      text-align: left;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @media (max-width:$mobile) {
      flex-direction: column;
    }
  }

  &__text {
    text-align: right;
    max-width: rem(540);
    @include adaptiveValue("max-width", 540, 299, 1, 1250, 767);

    @media (max-width:$mobile) {
      @include adaptiveValue("max-width", 550, 272, 0, 767, 320);
      order: -1;
      text-align: left;
      margin-bottom: rem(46);
    }
  }

  &__decor {
    position: absolute;
    bottom: rem(-330);
    right: rem(-80);

    @media (max-width:$mobile) {
      display: none;
    }
  }
}

//========================================================================================================================================================
.prices {

  &__tables {
    @include adaptiveValue("margin-left", 70, 15, 0, 1265, 320);
    @include adaptiveValue("margin-right", 70, 15, 0, 1265, 320);
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    @include adaptiveValue("gap", 22, 8);
  }

  &__table {

    &_1 {}

    &_2 {}

    &_3 {}

    &_4 {}
  }

  &__price-list {}

  &__table {}
}

.price-list {

  &__container {
    padding: rem(0) rem(10);
  }

  &__title {
    @include adaptiveValue("margin-bottom", 116, 57);
    @include adaptiveValue("margin-left", 160, 10);
  }

  &__swiper {
    @include adaptiveValue("margin-bottom", 67, 15);
  }
}

.table {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #000000;

  &__first-column {
    @include adaptiveValue("width", 27, 7);
  }

  &__bolt {
    font-weight: 700;
  }

  &__first-bolt {}

  &__color-red {
    @include adaptiveValue("padding-left", 14, 4);
    background: #E69679;
  }

  &__last-line {}

  &__last-tr {
    @include adaptiveValue("height", 22, 5);
  }

  &__none-border {
    border: none;
  }

  /* 	&__right {
		border-style: solid;
		border-right-color: #222021;
		@include adaptiveValue("border-right-width", 10, 3);
		overflow: hidden;
	}

	&__left {
		border-style: solid;
		border-left-color: #222021;
		@include adaptiveValue("border-left-width", 10, 3);
	}

	&__top {
		border-style: solid;
		border-top-color: #222021;
		@include adaptiveValue("border-top-width", 10, 3);
	}

	&__bottom {
		border-style: solid;
		border-bottom-color: #222021;
		@include adaptiveValue("border-bottom-width", 10, 3);
	}

	&__top-right {
		@include adaptiveValue("border-top-right-radius", 42, 14);
		overflow: hidden;
	}

	&__top-left {
		@include adaptiveValue("border-top-left-radius", 42, 14);
		overflow: hidden;
	}

	&__bottom-left {
		@include adaptiveValue("border-bottom-left-radius", 42, 14);
		overflow: hidden;
	}

	&__bottom-right {
		@include adaptiveValue("border-bottom-right-radius", 42, 14);
	}
} */
}


.tablepress:first-child,
.tablepress tbody td:first-child,
.tablepress tr:first-child,
.tablepress tr:last-child,
.tablepress thead th:first-child {
  border-left: 0 !important;
}

.tablepress:last-child,
.tablepress tbody td:last-child,
.tablepress tr:last-child,
.tablepress tr:first-child,
.tablepress thead th:last-child {
  border-right: 0 !important;
}

.tablepress-id-2 .row-4 td {
  border-left: none !important;
}

table {
  background: #D9D9D9;
  @include adaptiveValue("font-size", 30, 8);
  @include adaptiveValue("border-radius", 42, 14);
  overflow: hidden;
  border-spacing: 0;
  border-collapse: collapse;

}

tr {

  background: #D9D9D9;
  overflow: hidden;
}


th {
  border-collapse: collapse;
  border-bottom: rem(3) solid rgba(142, 57, 33, 0.37);
  @include adaptiveValue("border-width", 2, 0.5);
  @include adaptiveValue("padding-left", 3, 1);

  &:first-child {
    // @include adaptiveValue("padding-left", 14, 5);
  }

  vertical-align: bottom;
  text-align: left;
  margin-bottom: rem(1);
  background: #D9D9D9;
  font-weight: 500;
  @include adaptiveValue("height", 90, 25);
  @include adaptiveValue("width", 150, 35);
  overflow: hidden;
}

//====================================================================================================

.contact {

	&__container {
		display: flex;
		justify-content: space-between;
		@media (max-width:$mobile){
			flex-direction: column;
		}
	}

	&__body {
	}

	&__title {
		@include adaptiveValue("margin-bottom", 118, 41);
	}

	&__link {
	}

	&__call-us {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 34, 30);
		}
	}

	&__item {
		display: flex;
		gap: rem(14);
	}

	&__icon {
	}

	&__phone {
	}

	&__find-us {
		@include adaptiveValue("margin-bottom", 80, 40, 3, 767.8, 320);
	}

	&__place {
	}

	&__map-body {
		@include adaptiveValue("width", 493, 380, 2, 1250, 767.8);
		mask-image: (#798589, #798589);
		transform: (0px, 0px, 0px);
		position: relative;
		@media (max-width:$mobile){
			height: rem(230);
			@include adaptiveValue("height", 700, 210);
			width: 100%;
		}

		& iframe{
			z-index:0;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;left: 0;
			@include adaptiveValue("border-radius", 42, 14);
			overflow: hidden;
			mask-image: (#798589, #798589);
			transform: (0px, 0px, 0px);
	/* 		&::after{
				content: '';
				position: absolute;width: 100%;height: 100%;top: 0;left: 0;
				@include adaptiveValue("border-radius", 42, 14);
				overflow: hidden;
				pointer-events: none;
			} */
		}
	}
}


//====================================================================================================